<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>修改密码</title>
	</head>

	<body>
		<div id="editPassword" class="wrap-page">
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div class="wrap-input common-width">
					<el-input v-model="mobile" placeholder="输入手机号"></el-input>
					<div class="wrap-line-input">
						<el-input v-model="yzm" placeholder="输入验证码"></el-input>
						<el-button @click="getYzm()" v-model="yzmBtn.value" :disabled="yzmBtn.disabled"> {{ yzmBtn.value }}</el-button>
					</div>
					<el-input v-model="firsPassword" type="password" placeholder="输入密码"></el-input>
					<el-input v-model="secondPassword" type="password" placeholder="再次输入您的密码"></el-input>
				</div>
				<div class="wrap-enter">
					<el-button type="primary" @click="sure()">确认</el-button>
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	new Vue({
		el: '#editPassword',
		data() {
			return {
				mobile: '',
				yzm: '',
				firsPassword: '',
				secondPassword: '',
				yzmBtn: {
					countdown: 60,
					disabled: false,
					value: '获取验证码'
				}
			}
		},
		methods: {
			/*提交接口参数*/
			sure () {
				console.log(this)
				let textTips = ""
				if(!this.mobile) {
					textTips = "手机号不能为空！"
				} else if(!this.yzm) {
					textTips = "验证码不能为空！"
				} else if(!this.firsPassword) {
					textTips = "密码不能为空！"
				} else if(!this.password) {
					textTips = "二次密码不能为空！"
				}
				if(textTips) {
					this.$message({
						message: textTips,
						type: 'error'
					});
					return
				}
				const editParams = {
					mobile: this.mobile,
					yzm: this.yzm,
					firsPassword: this.firsPassword,
					secondPassword: this.secondPassword
				}
				console.log(editParams)
				return axios.post('/edit', editParams)
					.then(function(response) {
						console.log(response);
					})
					.catch(function(error) {
						console.log(error);
					});
			},
			getYzm () {
				console.log(this.yzmBtn.countdown)
				if(this.yzmBtn.countdown === 0) {
					this.yzmBtn.disabled = false;
					this.yzmBtn.value = "免费获取验证码";
					this.yzmBtn.countdown = 60;
				} else {
					this.yzmBtn.disabled = true;
					this.yzmBtn.value = "重新发送(" + this.yzmBtn.countdown + ")";
					this.yzmBtn.countdown--;
				}
				const _this = this;
				setTimeout(function() {
					_this.getYzm()
				}, 1000)
			}
		}
	})
</script>