<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/element-ui@2.0.7.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>登录</title>
	</head>

	<body>
		<div id="login" class="wrap-page">
			<div class="back-bar"><span onclick="jumpTo('instro/company.html')" class="icon-back"></span> 登录账号
				<span></span></div>
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div class="wrap-input common-width">
					<el-input v-model="mobile" placeholder="输入手机号"></el-input>
					<el-input v-model="password" type="password" placeholder="输入密码"></el-input>
					<div class="wrap-tips">
						<!--<a class="tips" href="register.html">注册</a>-->
						<a class="tips" href="">忘记密码</a>
					</div>
				</div>
				<div class="wrap-enter">
					<el-button type="primary" @click="login()">登录</el-button>
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="../../js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../js/element-ui@2.0.7.js"></script>
<!-- axios -->
<script src="../../js/axios.min.js"></script>
<!-- lodash -->
<script src="../../js/lodash.js"></script>
<!-- common.js -->
<script src="../../js/common.js"></script>
<!-- jquery.js -->
<script src="../../js/jquery.js"></script>
<script>
	new Vue({
		el: '#login',
		data () {
			return {
				mobile: '',
				password: ''
			}
		},
		methods: {
			/*提交接口参数*/
			login: function() {
				let textTips = ""
				if(!this.mobile) {
					textTips = "手机号不能为空！";
				} else if(!this.password) {
					textTips = "密码不能为空！";
				} else if(!mobile_test.test(this.mobile)) {
					textTips = "手机号格式不正确！"
				}
				if(textTips) {
					this.$message({
						message: textTips,
						type: 'error'
					});
					return
				}
				const loginParams = {
					mobile: this.mobile,
					pwd: this.password
				}
				const urlParams = {
					control: 'login',
					action: 'login'
				}
//				axios.apiPost(common_url + '?c=login&a=login', loginParams)
//				  .then(function (response) {
//				    console.log(response);
//				  })
//				  .catch(function (error) {
//				    console.log(error);
//				  });
				const method = 'post';
                const basicInfo = apiInfo(urlParams, loginParams, method, false);
                console.log(basicInfo)
                const requestUrl = _.get(basicInfo, 'url');
                const requestParams = _.get(basicInfo, 'params');
                if (requestUrl && requestParams) {
                    $.post(requestUrl, requestParams, function(result){
                        console.log(result);
                        if (result.status === '0') {
                            const data = _.get(result, 'data');
                            const apiKey = _.get(data, 'api_key');
                            const apiSecurity = _.get(data, 'api_security');
                            console.log(result);
                            setCookie('api_key', apiKey);
                            setCookie('api_security', apiSecurity);
                            jumpTo('myPlace/index.html');
                        }
                    });
				}

			}
		}
	})
</script>