<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/element-ui@2.0.7.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>注册</title>
	</head>

	<body>
		<div id="register" class="wrap-page">
			<div class="back-bar"><span onclick="jumpTo('instro/company.html')" class="icon-back"></span> 注册账号
				<span></span></div>
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div class="wrap-input common-width">
					<el-input v-model="mobile" placeholder="输入手机号"></el-input>
					<div class="wrap-line-input">
						<el-input v-model="yzm" placeholder="输入验证码"></el-input>
						<el-button @click="getYzm()" v-model="yzmBtn.value" :disabled="yzmBtn.disabled" v-text="yzmBtn.value"></el-button>
					</div>
					<el-input v-model="firsPassword" type="password" placeholder="输入密码"></el-input>
					<el-input v-model="secondPassword" type="password" placeholder="再次输入您的密码"></el-input>
				</div>
				<div class="wrap-enter">
					<el-button type="primary" @click="sure()">确认</el-button>
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="../../js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../js/element-ui@2.0.7.js"></script>
<!-- axios -->
<script src="../../js/axios.min.js"></script>
<!-- lodash -->
<script src="../../js/lodash.js"></script>
<!-- common.js -->
<script src="../../js/common.js"></script>
<!-- jquery.js -->
<script src="../../js/jquery.js"></script>
<script>
	window.onload = function() {
		
		new Vue({
			el: '#register',
			data() {
				return {
					mobile: '',
					yzm: '',
					firsPassword: '',
					secondPassword: '',
					yzmBtn: {
						countdown: 60,
						disabled: false,
						value: '获取验证码'
					}
				}
			},
			methods: {
				/*提交接口参数*/
				sure() {
					let textTips = ""
					if(!this.mobile) {
						textTips = "手机号不能为空！"
					} else if(!this.yzm) {
						textTips = "验证码不能为空！"
					} else if(!this.firsPassword) {
						textTips = "密码不能为空！"
					} else if(!this.secondPassword) {
						textTips = "二次密码不能为空！"
					} else if(this.firsPassword !== this.secondPassword) {
						textTips = "二次密码输入不一致！"
					} else if(!mobile_test.test(this.mobile)) {
						textTips = "手机号格式不正确！"
					}
					if(textTips) {
						this.$message({
							message: textTips,
							type: 'error'
						});
						return
					}
					const urlParams = {
						control: 'login',
						action: 'register'
					}
					const editParams = {
						mobile: this.mobile,
						verify: this.yzm,
						pwd: this.firsPassword
					}
					const method = 'post';
					const basicInfo = apiInfo(urlParams, editParams, method, false);
					const requestUrl = _.get(basicInfo, 'url');
					const requestParams = _.get(basicInfo, 'params');
					const _this = this
					if(requestUrl && requestParams) {
						$.post(requestUrl, requestParams, function(result) {
							if(result.status === '0') {
								const loginInfo = _.get(result, 'data');
								const apiKey = _.get(loginInfo, 'api_key');
								const apiSecurity = _.get(loginInfo, 'api_security');
								setCookie('api_key', apiKey);
								setCookie('api_security', apiSecurity);
								setCookie('user', _this.mobile);
								jumpTo('plan/index.html');
							} else {
								checkStatus(result);
								checkCode(result);
							}
						})
					}
				},
				getYzm() {
					this.timeCount();
					if(!this.mobile) {
						this.$message({
							message: '手机号不能为空',
							type: 'error'
						});
						return
					}
					const yzmParams = {
						mobile: this.mobile
					}
					const urlParams = {
						control: 'verify',
						action: 'send'
					}
					const method = 'post';
					const basicInfo = apiInfo(urlParams, yzmParams, method, false);
					const requestUrl = _.get(basicInfo, 'url');
					const requestParams = _.get(basicInfo, 'params');
					const _this = this;
					if(requestUrl && requestParams) {
						$.post(requestUrl, requestParams, function(result) {
							if(result.status === '0') {
								_this.$message({
									message: '验证码已发送',
									type: 'success'
								});
							} else {
								checkStatus(result);
								checkCode(result);
							}
						})
					}
				},
				timeCount() {
					if(!this.mobile) {
						this.$message({
							type: 'error',
							message: '请输入手机号'
						});
						return
					}
					if(this.yzmBtn.countdown === 0) {
						this.yzmBtn.disabled = false;
						this.yzmBtn.value = "免费获取验证码";
						this.yzmBtn.countdown = 60;
						return
					} else {
						this.yzmBtn.disabled = true;
						this.yzmBtn.value = "重新发送(" + this.yzmBtn.countdown + ")";
						this.yzmBtn.countdown--;
					}
					const _this = this;
					setTimeout(function() {
						_this.timeCount()
					}, 1000);
				}
			}
		})
	}
</script>