<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/element-ui@2.0.7.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>购买算力</title>
		<style>
			.list {
				height: 88px;
				width: 100%;
				border-radius: 4px;
				background: url(../../img/bar_bg.png) no-repeat;
				background-size: 100% 100%;
				display: flex;
				box-shadow: #666 0px 0px 10px;
				box-sizing: border-box;
				margin: 20px 0px;
			}
			
			.list ul {
				width: 100%;
				padding: 10px 15px;
				box-sizing: border-box;
				color: #999999;
			}
			
			.list ul span i,
			.list li .nums {
				color: #cbaa67;
			}
			
			.list li {
				margin-bottom: 5px;
				font-size: 12px;
				display: flex;
				justify-content: space-between;
				min-height: 20px;
			}
			
			.name {
				color: #fff;
				font-size: 15px;
			}
			#order .wrap-card-input {
				justify-content: space-between;
			}
			#order .wrap-card-input .label-name {
				min-width: 65px;
			}
			#order .wrap-card-input input {
				text-align: right;
			}
			.unit {
				color: #cbaa67;
				display: flex;
				align-items: center;
				margin: 0px 15px;
				font-size: 13px;
			}
			#order .preview {
				justify-content: flex-end;
				margin: 18px 0px 80px;
			}
		</style>
	</head>

	<body>
		<div id="order" class="wrap-page">
			<div class="back-bar"><span class="icon-back" onclick="jumpTo('plan/order.html')"></span> 抢购成功
				<span></span></div>
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div class="common-width">
					<div class="list">
						<ul>
							<li><span class="name"> {{ detail.name }}  </span><span class="white"><span class="status-yellow"> {{ detail.sell }}/</span> {{ detail.total }} </span>
							</li>
							<li><span class="money">预计收益</span><span class="nums"> {{ detail.profit }} </span></li>
							<li><span class="date"> {{ detail.time }} </span></li>
						</ul>
					</div>
					<div class="info-list">
						<div class="wrap-card-input"><span class="label-name">购买算力</span>
						<div class="right">
							<el-input-number placeholder="请输入购买算力" v-model="nums" :step="inputNumberObj.step" :controls="inputNumberObj.controls">
						</div>
						<span class="unit">T</span>
						</div>
					</div>
					<div class="info-list">
						<div class="wrap-card-input"><span class="label-name">算力单价</span>
						<div class="right">
							<el-input placeholder="请输入算力单价" v-model="detail.price" :readonly="priceObj.readonly">
						</div>
						<span class="unit">元</span>
						</div>
					</div>
					<div class="info-list">
						<div class="wrap-card-input"><span class="label-name">总金额</span>
						<div class="right">
							<el-input placeholder="请输入总金额" v-model="amount">
						</div>
						<span class="unit">元</span>
						</div>
					</div>
					<div class="wrap-enter preview"><button type="button" class="el-button el-button--primary">预览合同</button></div>
					<div class="wrap-enter"><button @click="toBuy('plan/success.html')" type="button" class="el-button el-button--primary">立即抢购</button></div>
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="../../js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../js/element-ui@2.0.7.js"></script>
<!-- axios -->
<script src="../../js/axios.min.js"></script>
<!-- lodash -->
<script src="../../js/lodash.js"></script>
<!-- common.js -->
<script src="../../js/common.js"></script>
<!-- jquery.js -->
<script src="../../js/jquery.js"></script>
<script>
	new Vue({
		el: '#order',
		data() {
			return {
                statusList: {
                    '1': '预售中',
                    '2': '进行中',
                    '3': '已关闭'
                },
				inputNumberObj: {
					step: 1,
					controls: false
				},
				priceObj: {
					readonly: true
				},
				detail: {
					name: '发电站',
					time: '2017.12.30-2018.12.30',
					profit: 2384296,
					price: 200,
					sell: 2000 +  'T',
					total: 8000 + 'T'
				},
				nums: 1,
				price: '',
				amount: 0
			}
		},
		watch: {
			'nums' (val) {
				this.amount = Number(this.nums) * Number(this.detail.price);
			}
		},
		mounted: function() {
			this.$nextTick(function() {
				this.amount = Number(this.nums) * Number(this.detail.price);
				this.getDetail();
			})
		},
		methods: {
			getDetail () {
				const planId = params('id');
				const urlParams = {
					control: 'plan',
					action: 'detail'
				}
                const idParams = {
                    plan_id: planId
                }
                const method = 'get';
                const basicInfo = apiInfo(urlParams, idParams, method, true);
                console.log(basicInfo);
                const requestUrl = _.get(basicInfo, 'url');
                const requestParams = _.get(basicInfo, 'params');
                const _this = this;
                if (requestUrl && requestParams) {
                    $.get(requestUrl, requestParams, function(result) {
                        console.log(result);
                        if (result.status === '0') {
                            const detailInfo = _.get(result, 'data');
                            const status =  _.get(detailInfo, 'status');
                            let statusName = '';
                            if (status) {
                                statusName = _this.statusList[status];
							}
                            _this.detail = {
                                name: _.get(detailInfo, 'name'),
                                time:  _.get(detailInfo, 'begin') + '-' +  _.get(detailInfo, 'end'),
                                statusName: statusName,
                                price: _.get(detailInfo, 'price'),
                                profit: _.get(detailInfo, 'profit'),
                                sell: _.get(detailInfo, 'sell') +  'T',
                                total: _.get(detailInfo, 'total') + 'T'
                            }
                        }
                    });
                }
			},
			toBuy (path) {
				const paramStr='name=' + this.detail.name + '&time=' + this.detail.time + '&count=' + this.nums + '&mount=' + this.amount;
				const id = params('id');
				const buyParams = {
					plan_id: id,
					count: this.nums
				}
				const urlParams = {
					control: 'plan',
					action: 'buy'
				}
                const method = 'post';
                const basicInfo = apiInfo(urlParams, buyParams, method, true);
                console.log(basicInfo);
                const requestUrl = _.get(basicInfo, 'url');
                const requestParams = _.get(basicInfo, 'params');
                if (requestUrl && requestParams) {
                    $.post(requestUrl, requestParams, function(result){
                        if (result.status === '0') {
                            jumpTo(path + '?' + paramStr);
                        } else {
                            checkStatus(result);
                            checkCode(result);
						}
                    });
				}
			}
		}
	})
</script>