<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/element-ui@2.0.7.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>预览合同</title>
		<style>
			img {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div id="planAgreement" class="wrap-page">
			<div class="back-bar"><span onclick="jumpTo('myPlace/detail.html?id='+params('id'))" class="icon-back"></span> 预览合同
				<span></span></div>
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div v-if='picList.length === 0' class="no-data-tips" v-text="noDataTips.text">
				</div>
				<div v-else class="pic-list">
					<img v-for="item in picList" :src="item" />
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="../../js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../js/element-ui@2.0.7.js"></script>
<!-- axios -->
<script src="../../js/axios.min.js"></script>
<!-- lodash -->
<script src="../../js/lodash.js"></script>
<!-- common.js -->
<script src="../../js/common.js"></script>
<!-- jquery.js -->
<script src="../../js/jquery.js"></script>
<script>
	window.onload = function() {
		
		new Vue({
			el: '#planAgreement',
			data() {
				return {
					noDataTips: {
						text: '暂无合同的数据'
					},
					picList: []
				}
			},
			watch: {},
			mounted: function() {
				this.$nextTick(function() {
					this.previewAgreement();
				})
			},
			methods: {
				/*预览合同*/
				previewAgreement() {
					const urlParams = {
						control: 'project',
						action: 'contract'
					}
					const idParams = {
						project_id: params('id')
					}
					const method = 'get';
					const basicInfo = apiInfo(urlParams, idParams, method, true);
					const requestUrl = _.get(basicInfo, 'url');
					const requestParams = _.get(basicInfo, 'params');
					const _this = this;
					if(requestUrl && requestParams) {
						$.get(requestUrl, requestParams, function(result) {
							if(result.status === '0') {
								const url = _.get(result, 'data.url');
								if(url) {
									_this.picList = url
								} else {
									_this.picList = []
								}
							} else {
								checkStatus(result);
								checkCode(result);
							}
						})
					}
				}
			}
		})
	}
</script>