<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.9/theme-chalk/index.css">
		<link rel="stylesheet" href="../../css/common.css">
		<title>每日总收益</title>
		<style>
			.list {
				height: 60px;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				margin-top: 10px;
				border-radius: 4px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 13px;
				color: #cbaa67;
				padding: 0px 12px;
				box-sizing: border-box;
			}
			
			.list:first-child {
				margin-top: 20px;
			}
			
			.list dd {
				font-size: 10px;
				color: #999999;
				margin-top: 12px;
			}
		</style>
	</head>

	<body>
		<div id="earningsDetails" class="wrap-page">
			<div class="back-bar">
				<span onclick="jumpTo('earnings/index.html')" class="icon-back"></span> 收益统计
				<span></span>
			</div>
			<div class="title-bar">
				VIP-CION
			</div>
			<div class="content">
				<div class="common-width">
					<div v-if="list.length === 0" class="no-data-tips" v-text="noDataTips.text">
					</div>
					<div v-else v-for="(item, i) in list" class="list">
						<dl>
							<dt v-text="item.money"></dt>
							<dd v-text="item.date"></dd>
						</dl>
						<span class="status" v-text="item.statusName">
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<!-- 先引入 Vue -->
<script src="../../js/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.9/index.js"></script>
<!-- axios -->
<script src="../../js/axios.min.js"></script>
<!-- lodash -->
<script src="../../js/lodash.js"></script>
<!-- common.js -->
<script src="../../js/common.js"></script>
<!-- jquery.js -->
<script src="../../js/jquery.js"></script>
<script>
	window.onload = function() {
		$('.content').show();
		new Vue({
			el: '#earningsDetails',
			data() {
				return {
					noDataTips: {
						text: '暂无收益明细数据'
					},
					statusList: {
						'0': '未兑现',
						'1': '已兑现'
					},
					list: [
					]
				}
			},
			watch: {},
			mounted: function() {
				this.$nextTick(function() {
					this.getList()
				})
			},
			methods: {
				getList() {
					const urlParams = {
						control: 'profit',
						action: 'log'
					}
					const method = 'get';
					const basicInfo = apiInfo(urlParams, {}, method);
					const requestUrl = _.get(basicInfo, 'url');
					const requestParams = _.get(basicInfo, 'params');
					const _this = this;
					if(requestUrl && requestParams) {
						$.get(requestUrl, requestParams, function(result) {
							if(result.status === '0') {
								let middleObj = '';
								let list = [];
								const earnInfo = _.get(result, 'data');
								for(var i = 0; i < earnInfo.length; i++) {
									const status = _.get(earnInfo[i], 'status');
									let statusName = ''
									if(status) {
										statusName = _this.statusList[status];
									}
									middleObj = {
										money: '¥' + earnInfo[i].sum,
										date: earnInfo[i].date,
										statusName: statusName
									}
									list.push(middleObj);
								}
								_this.list = list;
							} else {
								checkStatus(result);
								checkCode(result);
							}
						})
					}
				}
			}
		})
	}
</script>